*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #AAA;
	
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;

}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	padding: 10px;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.main{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90vh;
	width: 90%;
	margin: 0 auto;
}

.container{
	float: right;
	height: 50%;
	width:50%;
	padding: 0 15px;
}

.containere{
	
	float: left;
	height: 50%;
	width:50%;
	padding: 0 0 0 15px;
}

section{
	margin: 2em 0;
	overflow: hidden;

}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #111111;
	text-align: center;
	background-color: #777;
	

}

th{
	font-weight: bold;
	background-color: #555;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 7em;
	border: 1px solid #ccc;
	padding: .5em;
	width: 60%;

}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 49%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:purple;
	border-color: rgb(75, 3, 75);
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 15px;
	background-color: #ccc;
}

.invisivel {
	display: none;
}


.campo{
	border-radius: 20px;
	text-decoration-color: #333;
}


img{
	width: 100%;
	padding: 0 0 200px 0;
}